/* Button */
.btn-primary {
  background: #FF9900 !important;
  border: 0;
  padding: 15px 40px 15px 40px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background: rgb(194, 123, 16) !important;
  border: 0;
}

.btn-secondary {
  background: none !important;
  border: 1px solid #BCD0E5;
  padding: 15px 40px 15px 40px;
  font-size: 16px;
  font-weight: bold;
  color: #173A56;
}

.btn-secondary:hover {
  background: none !important;
  border: 1px solid rgb(199, 214, 230);
  color: #173A56;
}

/* Navbar */
.navbar-nav .nav-link {
  color: #2F281E;
}

/*  */
.herobwa h1 {
  font-family: 'Poppins';
  font-weight: 700;
  color: #2F281E;
}

.herobwa p {
  font-family: 'Poppins';
  font-weight: 400;
  color: #2F281E;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 400px) {
  .btn-primary {
    margin-top: auto;
  }
}
